body {
  background-color: honeydew;
}

header {
  font-size: 30px;
  font-family: Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 160px;
}

article {
  background-color: rgb(249, 255, 215);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0rem 4rem;
  padding: 20px 30px;
  border-radius: 10px;
  position:absolute;
  top: 200px;
}

h3 {
  text-decoration: aqua;
  color:darksalmon;
  font-size: 30px;
}

div {
  position: relative;
  top: 500px;
  width: 40%;
  background-color: rgb(219, 255, 202);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px 30px;
  margin: 0rem 1rem;
  border-radius: 10px;
}

ol {
  margin-top: 1rem;
  font-size: large;
}
